/* body {
  display: block;
  margin: 0px !important;
} */

.banner {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: bottom 20% center;
  height: 100vh;
  margin-top: -49px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;  
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.forgot{
  margin-top: 150px;
}
