@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Reem+Kufi:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Reem+Kufi:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.itemscreen {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}


/* Images */

.itemscreen__left {
    position: relative;
    display: flex;
    flex: 0.8;
    width: 700px;
    height: 500px;
}

.left__image {
    width: 500px;
    height: 500px;
    background-size: cover;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    /* transform: translateX(50%); */
}

.left__image img {
    display: block;
    /* margin-top: 5rem; */
    padding: 2rem;
    max-height: 500px;
    max-width: 500px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
}

.left__img__bonus {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.left__img__bonus img.active {
    opacity: 0.5;
}


/* Infomations */

.itemscreen__right {
    padding: 3rem;
    margin-right: 5rem;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
}

.right__info {
    font-family: 'Reem Kufi', sans-serif;
}

.right__info__name {
    font-weight: bold;
    font-size: 36px;
    font-style: regular;
    margin-bottom: 0;
}

.right__info__price {
    font-size: 30px;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.right__info__new__price {
    color: #EB4335;
    font-weight: 500;
}

.right__info__actual__price {
    font-size: 25px;
    opacity: 0.5;
    text-decoration: line-through;
}

.right__info__category {
    font-size: 28px;
    line-height: 54px;
    padding: 1rem 0;
    font-weight: 600;
}

.right__info__qty {
    font-size: 28px;
    line-height: 54px;
    padding: 1rem 0;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.qty__choice {
    width: 100%;
    margin: 1rem;
}

.cart-btn {
    width: 100%;
    margin-right: 2%;
    padding: 5px;
    background: #383838;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
}

.rightscreen__productinfo {
    font-size: 25px;
}

.size-radio-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
    font-family: 'Red Hat Text', sans-serif;
}

.size-radio-btn.check {
    background: #383838;
    color: #fff;
}

.fa.check {
    transform: rotate(90deg);
    margin-right: 0.5rem;
}

.product__info {
    cursor: pointer;
}

.qtydiv label {
    display: block;
    margin-bottom: 12px;
    letter-spacing: 2.8px;
    color: #747a7b;
}

.qtybox {
    border: 1px solid #ccc;
    padding: 0 7px;
    margin-bottom: 8px;
    text-align: center;
}

.qtydiv .btnqty {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
    padding: 5px;
    line-height: 5px;
}

.qtydiv .btnqty.qtyminus {
    margin-right: 8px;
}

.qtydiv .btnqty.qtyplus {
    margin-left: 8px;
}

.qtydiv .quantity-input {
    border: none;
    padding: 8px;
    text-align: center;
    align-items: center;
    width: 50px;
    outline: none;
    display: inline-block;
}

.qtydiv {
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
}


/* Description */

.description__screen {
    padding: 0 10vw;
    /* text-transform: capitalize; */
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.des {
    color: #383838;
    line-height: 25px;
}


/* Related Screen */

.related__screen {
    font-family: 'Reem Kufi', sans-serif !important;
    margin: 2rem;
    padding: 2rem;
}

.related__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
    padding: 2rem;
}

.image img {
    width: 100%;
    height: 70vh;
}

.section-item {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.item {
    background-color: #e0b87b;
    width: 90% !important;
    border-radius: 20px;
    margin-left: 20px !important;
}

.item-img img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    border: none;
}

.item-img img {
    display: block;
    object-fit: contain;
    height: auto;
    background-color: #fff;
}

.smallImg {
    margin-left: 140px;
    margin-bottom: 80px;
}

.smallImg img {
    width: 80px;
    height: 100px;
    object-fit: contain;
    border: 1px solid #000;
    margin: 0 5px 5px 5px;
    cursor: pointer;
}