.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #000;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -10px;
}

.navigation {
    /* height: 15vh; */
    /* position: fixed; */
    width: 100%;
    display: flex;  
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* vertical-align: middle !important; */
    z-index: 3;
    /* margin-bottom: 50px; */

}
/*Home/Store/Blog/About us*/
.link_webpages{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    text-decoration: none;
    font-family:'Reem Kufi';
    font-style: normal;
    font-size: 18px;
    margin-top: 15px;
    /* font-weight: bold; */
    
}
.link_webpages li a{
    color: black;
    text-decoration: none;
    transition: text-shadow font-weight;
}
.link_webpages li a:hover {
    /* font-weight: bold; */
    text-shadow: 2px 2px 2px #000; 
}
/* Icon SEARCH USER CART*/
.icon_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 100px;
}
.icon_nav .user{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}
.icon_nav .user ul{
    position: absolute;
    background-color: #1A1717;
    width: 130px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    /* pointer-events: none; */
    transform: translateY(-10px);
    transform: all 0.4 ease;
    z-index: 3;
}
.icon_nav .user ul li{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.icon_nav .user li:hover{
    /* font-weight: bold; */
    text-shadow: 2px 2px 2px #fff;
}

.icon_nav .user ul a{
    text-decoration: none;
    font-family: 'Reem Kufi';
    color: #fff;
}
.icon_nav .user button{
    background: none;
    border: none;
    cursor: pointer;
}
.icon_nav .user .usericon:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
.icon_nav .cart{
    padding: 10px;
}
.lg{
    margin-bottom: 5px;
}
/*-----------------signIn/signUp-----------------*/
.sign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family:'Reem Kufi';
}
.sign .in{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px
}
.sign .up{
    /* margin-left: 10px; */
    margin-right: 10px;
    padding: 10px 0;
}

.sign a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    /* font-weight: bold; */
}
.sign a:hover {
    text-shadow: 2px 2px 2px #000;    
}
/* SEARCH*/
/* .search{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px;
} */
.search-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  
input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    /* font-size: 1rem; */
    border: 1px solid rgb(184, 183, 183);
    border-radius: 30px;
    outline: none;
}
  input#search-bar:focus {
    border: 1px solid #000;
    transition: 0.35s ease;
    color: #000;
}
input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
  
.search-icon {
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 30px;
}




.dataResult {
    margin-top: 5px;
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult a {
    text-decoration: none;
    color: #000
}

.dataResult :hover {
    background-color: lightgrey;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    padding: 40px 10px;
}

.dataItem p {
    margin-left: 10px;
}

.dataItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 20px; */
    /* margin-bottom: 20px; */
}

.dataItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-color: white;
}

.dataItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.result {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
    margin-top: 240px;
    /* width: 400px; */
    /* opacity: 0; */
    /* height: 0; */
}


/* input#search-bar:focus+.result {
    opacity: 1;
    height: 200px;
} */
.active{
    text-shadow: 2px 2px 2px #000;
}