* {
    margin: 0px;
}


/*---------------------------------------Payment-----------------------------*/

.paymentContainer {
    margin: 50px 0;
    overflow: auto;
}

.column1 {
    font-family: 'Reem Kufi';
    float: left;
    margin-left: 15%;
    padding-right: 125px;
    border-right: 1px solid #000;
}

.column2 {
    float: right;
    margin-right: 25%;
}

.linePayment {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
}

.itemCol2Payment {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: 'Reem Kufi';
}

.paymentMethod_text {
    margin-bottom: 30px;
}

.paymentDelivery_text {
    font-family: 'Reem Kufi';
}

span {
    margin-left: 20px;
}

.bankInfo {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #000;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #EB4335;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #000;
}

.completePayment {
    text-decoration: none;
    color: #fff;
}

.completePayment:hover {
    font-weight: bold;
    color: #fff;
}

.btn_complete {
    color: #fff !important;
    transition: font-weight;
    background: #EB4335;
    padding: 5px 70px;
    border-radius: 20px;
    font-family: 'Reem Kufi';
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn_back {
    color: #fff !important;
    transition: font-weight;
    background: #000;
    padding: 5px 90px;
    border-radius: 20px;
    font-family: 'Reem Kufi';
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.bankInfo {
    padding-top: 10px;
}


/*------------------------------Payment information-----------------------------------*/

.payment_info_text {
    margin: 100px 0 0 0;
}

.fillPaymentInfoContainer {
    margin: 70px 0 0 0;
}

.fillPaymentInfo {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 20px;
}

.info {
    font-family: 'Reem Kufi';
    width: 200px;
}

.infoInput {
    border-radius: 20px;
    width: 400px;
    border: 1px solid #000;
    padding: 10px 20px;
    outline: none;
}

.backToCart {
    transition: font-weight;
    text-decoration: none;
    color: #fff;
}

.backToCart:hover {
    font-weight: bold;
    color: #fff;
}

.btn_backToCart {
    color: #fff !important;
    background: #EB4335;
    padding: 5px 50px 5px 50px;
    border-radius: 20px;
    font-family: 'Reem Kufi';
    font-size: 20px;
    margin: 80px;
    display: flex;
    justify-content: center;
}

.btn_confirm_paymentInfo {
    color: #fff !important;
    background: #EB4335;
    padding: 5px 70px 5px 70px;
    border-radius: 20px;
    font-family: 'Reem Kufi';
    font-size: 20px;
    margin: 80px;
    display: flex;
    justify-content: center;
}